@font-face {
	font-family: "Raleway";
	src: url('Raleway/Raleway-Medium.ttf');
}
@font-face {
	font-family: "RalewayExtraBoldItalic";
	src: url('Raleway/Raleway-ExtraBoldItalic.ttf');
}
@font-face {
	font-family: "RalewaySemiBold";
	src: url('Raleway/Raleway-SemiBold.ttf');
}
@font-face {
	font-family: "RalewayExtraBold";
	src: url('Raleway/Raleway-ExtraBold.ttf');
}
@font-face {
	font-family: "RalewayBold";
	src: url('Raleway/Raleway-Bold.ttf');
}
@font-face {
	font-family: "RalewayLight";
	src: url('Raleway/Raleway-Light.ttf');
}

html,body{
	width: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
	background-color: #AFE8BC;
	font-family: "Raleway", sans-serif;
}

h1 {
	font-family: "RalewayExtraBold", sans-serif;
}

ul {
  list-style-type:none;
  padding: 0;
  /*margin: 25px;*/
}

/* Pre-menu */
#pre-menu {
	width: 100vw;
	height: 100vh;
	min-height: 800px;
	position: fixed;
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	font-size: 4em;
	opacity: 1;
	background-color: #AFE8BC;
	z-index: 2000;
}
#pre-menu-content {
	display: flex;
	justify-content: center;
	opacity: 1;
	font-family: 'RalewayExtraBoldItalic', sans-serif;
}
#pre-menu.hidden {
	-webkit-transition: opacity 0.1s ease-in;
	-moz-transition: opacity 0.1s ease-in;
	-ms-transition: opacity 0.1s ease-in;
	-o-transition: opacity 0.1s ease-in;
	transition: opacity 0.1s ease-in;

	opacity: 0;
}
#pre-menu-content.hidden {
	-webkit-transition: opacity 0.1s ease-in;
	-moz-transition: opacity 0.1s ease-in;
	-ms-transition: opacity 0.1s ease-in;
	-o-transition: opacity 0.1s ease-in;
	transition: opacity 0.1s ease-in;

	opacity: 0;
}

#pre-menu-logo {
	font-family: "RalewayExtraBoldItalic", sans-serif;
	width: 500px;
	color: white;
	font-size: 1.8em;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-image: linear-gradient(
		to right,
	    black,
	    black 50%,
	    white 50%
	);
	background-size: 200% 100%;
	background-position: 100%;
}

#pre-menu-logo.next {
  transition: all 1.5s cubic-bezier(0.99, 0.25, 0.96, 0.03);
  background-position: 0%;
}

#header {
	display: flex;
    width: 100vw;
    position: fixed;
    height: fit-content;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1000;
    padding: 15px 0 10px 15px;
    background-color: #AFE8BC;
    transition: box-shadow .2s;
    align-items: center;
}

#header.shadow {
	box-shadow: 3px 3px 5px rgba(0,0,0,0.16);
}

/* Menu */

ul#menu {
    height: 35px;
    width: 35px;
    margin-right: 46px;
    margin-top: 10px !important;
    transition: margin-top .2s;
}
ul#menu.show {
    margin-top: -4px;
}

#menu li {
    position: relative;
    background: black;
    margin: 9px;
    height: 6px;
    width: 41px;
    transition: transform .3s, width .01s;
}
.active_menu li:nth-child(1){
    top: 12px;
    transform: rotate(135deg);
    transition: transform .3s;
}
.active_menu li:nth-child(2){
    width: 0px !important;
    transform: rotate(180deg);
    transition: transform .01s, width .01s;
}
.active_menu li:nth-child(3){
    bottom: 18px;
    transform: rotate(-135deg);
    transition: transform .3s;
}
  
ul#links {
	overflow:hidden;
	width: 0;
	margin-left: 0px;
	transition: width .4s, margin-left .4s; 
	margin-top: 16px;
	white-space: nowrap;
	margin-right: 20px;
	position: absolute;
    right: 15px;
    text-align: right;
}
ul#links li {
    margin: 5px; 
}
ul#links li a{
    color:black;
    text-decoration:none;
    transition: color .5s;
    text-transform:uppercase;
    background-color: white;
    font-size:45px;
    font-family: 'RalewayExtraBold', sans-serif;
    padding: 0 10px 0 10px;
    transition: margin-right .3s;
}
ul#links li a:hover {         
	margin-right: 20px;
    transition: margin-right .3s;
}

.active_links{
	width: 370px !important;
	/*margin-left: 35px !important;*/
	margin-top: 0px;
	transition: width .4s, margin-left .4s;
}

#logo {
	width: 160px;
	margin-top: 90px;
	transition: margin-top .2s;
}
#logo.show {
	margin-top: 0px;
}

#transi-cache-logo {
	width: 222px;
	height: 84px;
	position: absolute;
	top: 94px;
	background-color: #AFE8BC;
}
#transi-cache-menu {
	width: 76px;
    height: 85px;
    position: absolute;
    top: 60px;
    right: 23px;
    background-color: #AFE8BC;
}

/* Content */
section {
	display: flex;
	justify-content: center;
}

#home {
	height: 100vh;
	min-height: 800px;
	text-align: center;
	flex-direction: column;
}
#home .text-content {
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#home p {
	font-size: 2.8em;
    width: fit-content;
    margin: 0;
}

#home #title-home {
	display: flex;
	margin-bottom: 70px;
}
#home #title-home p {
	font-family: 'RalewayBold';
	box-shadow: 3px 3px 5px rgba(0,0,0,0.16);
	font-size: 5em;
	width: fit-content;
	background-color: white;
	padding: 0 18px 0 18px ;
}
#home #title-home p:nth-child(1) {
    margin-right: 15px;
}
#home #title-home p:nth-child(2) {
	margin-left: 15px;
	position: relative;
    top: 25px;
}
#home #subtitle-home p:nth-child(1) {
	font-family: 'RalewaySemiBold';
    text-align: left;
    padding-left: 40px;
    margin-bottom: 22px;
}
#home #subtitle-home p:nth-child(2) {
	font-family: 'RalewayExtraBold';
	text-align: right;
	margin-left: 140px;
}

#agency {
	display: flex;
	flex-direction: column;
	transition: margin-top .3s;
	margin-bottom: 50px;
}
#agency.hidden {
	margin-top: 200px;
}

#agency .title-container {
    background-color: white;
    width: 440px;
    text-align: center;
    position: relative;
    top: -39px;
    left: -4px;
    padding: 10px 0 10px 0;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.16), 0px -1px 10px rgba(0,0,0,0.16);
}
#agency .subtitle-container {
    background-color: #AFE8BC;
    text-align: center;
    width: fit-content;
    position: absolute;
    padding: 4px 15px 4px 15px;
    top: 10px;
    right: 10px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.16), 0px -1px 10px rgba(0,0,0,0.16);
}

#agency h2 {
    transform: skew(-7deg);
    font-size: 2.2em;
    font-family: "RalewayBold";
    margin: 0;
}

#agency h1 {
    transform: skew(-7deg);
    font-size: 3.2em;
    font-family: "RalewayBold";
    margin: 0;
}

#agency .container {
	z-index: 400;
	height: fit-content;
	background-color: #f7f8f7;
	transform: rotate(7deg) skew(7deg);
    width: calc(100% + 21px);
    position: relative;
    left: -16px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

#agency .box-container {
	padding: 25px 0 30px 0;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

#agency .box-container:nth-child(2) {
	padding: 105px 0 30px 0;
}

#agency .box-content {
	background-color: white;
	height: fit-content;
	width: 20%;
	display: flex;
    flex-direction: column;
    align-items: center;
	padding: 0 0 13px 0;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.16);
	transform: skew(-7deg) rotate(-7deg);
}

#agency .box-content h3 {
	text-align: center;
	margin: 8px 0 8px 0;
	text-transform: uppercase;
	font-size: 1.2em;
	font-family: 'RalewaySemiBold';
}

#agency .box-content div {
	width: 90%;
	text-align: justify;
	font-size: 0.8em;
	font-family: 'Raleway';
}

#agency .plus-container {
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 25px;
    margin-top: 10px;
}

#agency .plus-content {
	transform: skew(-7deg) rotate(-7deg);
	display: flex;
	position: relative;
    font-size: 1.25em;
    width: 191px;
}

#agency .hidden-details {
	margin-top: -1px;
	font-size: 0.7em;
	padding: 10px 10px 10px 10px;
	transition: all .15s ease;
}

#agency .description-content {
	transition: all .25s ease;
    position: absolute;
    left: 35px;
    top: -16px;
    width: 180px;
    height: 50px;
    max-height: 50px;
    overflow: hidden;
}

#agency .description-content h3 {
	padding: 10px 10px 10px 10px;
	transition: all .25s ease;
	font-family: 'RalewaySemiBold';
	font-size: 0.96em;
	margin: 0;
}

#agency .plus-content:hover .description-content{
	height: 350px;
	max-height: 350px;
	top: -95px;
	left: 40px;
	padding: 5px;
	transition: all .25s ease;
}
#agency .plus-content:hover .hidden-details{
	background-color: #AFE8BC;
	transition: all .15s ease;
}
#agency .plus-content:hover h3{
	background-color: #AFE8BC;
	transition: all .25s ease;
}

#agency .plus-content img {
	width: 35px;
	margin-right: 10px;
}

#team {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#team h1 {
	transform: skew(-7deg);
    font-size: 3.2em;
    font-family: "RalewayBold";
    margin: 0;
}

#team .title-container {
    background-color: white;
    height: fit-content;
    padding: 5px 25px 5px 25px;
    margin-bottom: 70px;
    transition: all .5s ease;
}

#team .container {
	    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90%;
}

.team-member {
	display: flex;
    height: fit-content;
    width: 518px;
    margin: auto;
    margin-bottom: 30px;
    top: 0px;
    bottom: 0px;
    position: relative;
    background-color: #F7F8F7;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.16);
    transition: all .5s ease;
}

/* 259 // 416 */
#team img {
	width: 40%;
	padding: 10px;
}
#team .content {
	position: relative;
	width: 60%;
}

#team .content p {
	padding: 0 42px 0 21px;
    font-size: 0.83em;
}

#team .name {
	background-color: #FFFFFF;
    font-family: 'RalewayBold';
    text-align: center;
    position: relative;
    font-size: 1.4em;
    padding: 10px 0 10px 0;
    top: 22px;
    left: 20px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.16);
    margin-bottom: 40px;
}

#team .shadow {
	position: absolute;
    right: -20px;
    top: 68px;
    border-right: 20px solid transparent;
    border-top: 20px solid #E0E0E0;
}

#team .title-container.moved {
	transform: rotate(7deg) skew(7deg);
}

.team-member.moved:nth-child(1){
	top: -60px;
}

.team-member.moved:nth-child(2){
	top: 60px;
}


/* CONTACT */
#contact {
	display: flex;
    flex-direction: column;
    margin: auto;
    width: 70%;
}

#contact h1 {
	font-size: 2.1em;
    background: white;
    width: 226px;
    padding: 3px 0 3px 0;
    text-align: center;
    margin-bottom: 40px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.16);
}

#contact button {
	width: 171px;
    margin: auto;
    height: 40px;
    border: none;
    font-size: 1.6em;
    font-family: "RalewayBold";
    margin-top: 55px;
    margin-bottom: 40px;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.16);
    transition: all .2s;
}

#contact button:hover {
	background-color: #efefef;
	transform: skew(1deg, 2deg);
}

#contact-input {
	display: flex;
	justify-content: space-between;
	margin-bottom: 15px;
}

#contact-input div {
	display: grid;
    width: 49%;
}

#contact label {
	font-family: "RalewaySemiBold" !important;
    margin-bottom: 9px !important;
}

#contact textarea {
	border: none;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.16);
	font-size: 1.3em;
	min-width: calc(100% - 2px);
	max-width: calc(100% - 2px);
	min-height: 100px;
}

#contact-input input {
	border: none;
    height: 40px;
    padding: 0 8px 0 8px;
    font-size: 1.3em;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.16);
}

#contact-subject {
	height: 40px;
}

#contact-tooltip {
	text-align: center;
    font-size: 0.95em;
}

.formfield-select {
	position: relative;
}

.formfield-select--container {
	position: relative;
    background-color: #fff;
    height: 40px;
    margin: 8px 0 15px 0;
    overflow: hidden;
    box-shadow: 3px 3px 5px rgba(0,0,0,0.16);
}

.formfield-select--container select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 110%;
	height: auto;
	border: 0; 
	margin: 0;
	border-radius: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 1.3em;
    padding-left: 8px;
}

.formfield-select--container::after { 
	content: '';
	position: absolute;
	top: 50%; 
	margin-top: -3px;
	right: .75em;  
	display: block; 
	width: 0; height: 0;
	border-color: transparent;
	border-top-color: #444; 
	border-width: 6px;
	border-style: solid;
	pointer-events: none;
}

/* Footer */
footer {
	height: 130px;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 5px;
	justify-content: center;
	background-color: black;
	color: white;
	text-align: center;
	font-family: 'RalewayLight';
	margin-top: 63px;
}

footer div {
	line-height: 25px;
}

footer #footer-mail {
	margin-top: 5px;
	font-family: 'Raleway';
	font-size: 1.1em;
}


@media screen and (max-width: 640px) {
  .bloc {
    display:block;
    clear:both;
  }
}